:root {
  font-family: Arial, Helvetica, sans-serif;
  color: #111;
  background: #fff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: min(1200px, 92%);
  margin: 0 auto;
}
